@font-face {
  font-family: 'Lato';
  src: url("../font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../font/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto/Roboto-Regular.ttf");
}

* {
  font-family: 'Lato', 'Courrier', 'sans-serif';
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

.bg-grey {
  background: #E7E7E7;
}

.bg-blue {
  background: #3282F7;
}

.bg-green {
  background: #68D9A4;
}

.bg-red {
  background: #ED6454;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% 20%;
}

header .logo {
  width: 40%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 10%;
}

.container__searchbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
}

.container__searchbar .searchbar {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
}

.container__searchbar .searchbar:focus {
  outline: none;
}

.container__searchbar .btn-search {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.container__searchbar .btn-search .search-icon {
  height: 70%;
  margin: 5px;
}

.container__recipes {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

article {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  margin: 2% 0;
}

article .article-picture {
  min-height: 180px;
  background: #C7BEBE;
}

article .article-bottom {
  background: #E7E7E7;
  padding: 0 5%;
  height: 200px;
}

article .article-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .article-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 40%;
}

article .article-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .article-description .description-left {
  width: 50%;
}

article .article-description .description-right {
  width: 50%;
}

article .article-description ul {
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

article .article-description li {
  list-style: none;
  padding: 0;
}

article .article-description strong {
  font-weight: 700;
}

article .article-description p {
  font-family: 'Roboto', 'Courrier', 'sans-serif';
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

article .fa-clock {
  margin-right: 5px;
}

.container__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  margin: 2% 10%;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.component-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20%;
  min-height: 60px;
  border-radius: 5px;
  margin-right: 2%;
}

.component-filter .filterClosed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.searchbarTags::-webkit-input-placeholder {
  color: white;
}

.searchbarTags:-ms-input-placeholder {
  color: white;
}

.searchbarTags::-ms-input-placeholder {
  color: white;
}

.searchbarTags::placeholder {
  color: white;
}

.searchbarTags {
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: white;
  border-color: none;
  width: 60%;
}

.searchbarTags:focus {
  outline: none;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 37px;
  width: 10%;
  border-radius: 5px;
  font-size: 14px;
}

.ingredientResults {
  -webkit-columns: 3;
          columns: 3;
  list-style-position: inside;
}

.ingredientResults li {
  list-style-type: none;
}

.appliancesResults {
  -webkit-columns: 3;
          columns: 3;
  list-style-position: inside;
}

.appliancesResults li {
  list-style-type: none;
}

.ustensilsResults {
  -webkit-columns: 3;
          columns: 3;
  list-style-position: inside;
}

.ustensilsResults li {
  list-style-type: none;
}

.tag-search {
  height: 20px;
  border: none;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

/* Create "tagged" class */
@media (max-width: 991px) {
  article {
    width: 45%;
  }
  .component-filter {
    min-width: 25%;
  }
  .tag {
    width: 20%;
  }
}

@media (max-width: 667px) {
  article {
    width: 100%;
  }
  .component-filter {
    margin-bottom: 2%;
    width: 100%;
  }
  .searchbarTags {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */