// Variables colors

$grey : #E7E7E7;
$blue : #3282F7;
$green : #68D9A4;
$red : #ED6454;
$dark-grey : #C7BEBE;

// Fonts
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../font/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

*{
    font-family: 'Lato', 'Courrier', 'sans-serif';
}

h3{
    font-size: 18px;
    font-weight: 400;
}

// Backgrounds
.bg-grey{
    background: $grey;
}
.bg-blue{
    background: $blue;
}
.bg-green{
    background: $green;
}
.bg-red{
    background: $red;
}

.hidden{
    display: none;
}

// Cursor

.pointer{
    cursor: pointer;
}

// Header

header{
    display: flex;
    justify-content: center;
    margin: 2% 20%;

    .logo{
        width: 40%;
    }
    
}



.container{
    display: flex;
    margin: 2% 10%;


    // Main search bar
    &__searchbar{
        flex-direction: row;
        border-radius: 5px;

        .searchbar{
            width: 100%;
            height: 45px;
            border: none;
            border-radius: 5px 0 0 5px;
            padding:  0 10px;
        }
        .searchbar:focus{
            outline: none;
        }
        // Search button
        .btn-search{
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 0 5px 5px 0 ;
            cursor: pointer;

            .search-icon{
                height: 70%;
                margin: 5px;
            
            }
        }
    }

}


.container__recipes{
        justify-content: space-between;
        flex-flow: wrap;
    }

article{
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    margin: 2% 0;
   
    
    .article-picture{
        min-height: 180px;
        background: $dark-grey;
    }
    .article-bottom{
        background: $grey;
        padding:  0 5%;
        height: 200px;
    }
    .article-header {
        display: flex;
        justify-content: space-between;
    }
    .article-time{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 40%;
    }
    .article-description{
        display: flex;
        

        .description-left{
            width: 50%;
        }
        .description-right{
            width: 50%;
        }

        ul{
            padding: 0;
            font-size: 12px;
            font-weight: 400;
        }
        li{
            list-style: none;
            padding: 0;
        }
        strong{
            font-weight: 700;
        }
        p{
            font-family: 'Roboto', 'Courrier', 'sans-serif';
            font-weight: 400;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6; /* number of lines to show */
            -webkit-box-orient: vertical;
            margin-bottom: 5px;
        }

    }
    .fa-clock{
        margin-right: 5px;
    }
    

}




.container__filter{
    display: flex;
    justify-items: flex-start;
    margin: 2% 10%;   
    color: white;
    flex-wrap: wrap;
}

.component-filter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 20%;
    min-height: 60px;
    border-radius: 5px;
    margin-right: 2%;

    .filterClosed{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        
    }
    
    
}
.searchbarTags::placeholder{
    color: white;
   
}
.searchbarTags{
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: white;
    border-color: none;
    width: 60%;
}
.searchbarTags:focus{
    outline: none;
}
.tag{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 37px;
    width: 10%; 
    border-radius: 5px;
    font-size: 14px;

}

.ingredientResults{ 
    columns: 3;
    list-style-position: inside;//this is important addition

    li{
        list-style-type: none;
    }
}




.tag-search{
    height: 20px;
    border: none;
    
}

.visible{
    display: block !important;
}
.hidden{
    display: none !important;
}


/* Create "tagged" class */





// Media Queries
@media (max-width: 991px){
    article{
        width: 45%;
    }
    .component-filter{
        min-width: 25%;
    }
    .tag{
        width: 20%;
    }
}
@media (max-width: 667px){
    article{
        width: 100%;
    }
    .component-filter{
        margin-bottom: 2%;
        width: 100%;
    }

    .searchbarTags{
        width: 100%;
    }
}